
.service.component__space{
background-color: rgb(212, 207, 183);
}
.heading{
    text-align: center;
font-size: 50px;
}

.h1.heading {
    font-size: 60px;
    text-align: center;
    font-family: Poppins,sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
    color: orange;
    
}
p.heading.p__color {
    margin-bottom: 0;
    text-align: center;
    line-height: 1.2;
    color: #100f0f;
    font-size: 18px;
    display: block;
    font-size: 15px;
}
.heading{
    padding-top: 10px;
}
.text-desc {
    color: rgb(248, 92, 14);
    display:list-item;

   
}
.text-descc{
    color: rgb(20, 19, 19);
    font-weight: 500;
    text-decoration: none;
    font-size:smaller;
   text-transform: lowercase;
    font-family:Arial, Helvetica, sans-serif

}

.img{
    height: 45px;
    width:45px;
    font-size: 10px;
    font-weight: 10;
    margin-bottom: 5px;
    display: inline-flex;
    background-position: 100px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 5px 10px 50px rgba(23, 22, 21, 0.866);
}
.lire_me:hover {
    background-color: #f4f3f3;
    border-radius: 6px;
    transition: all 0.2s ease-out;
    border: #faa320 solid;
    padding-left: 10px;
    color: #100f0f;
}

.lire_me{
    border: rgb(79, 212, 212) 1px solid;
    color: white;
    font-size: 15px;
    font-weight: 550;
    padding: 8px;
    align-self: center;
    cursor: pointer;
    margin: 0 30%;
    margin-bottom: -50px;
    background-color: orange;
    border-radius: 5px;
   box-shadow: 2px 5px 4px  rgba(233, 125, 17, 0.808);
   

}
.my-button {
    padding-top: 15px;
    margin-bottom: -20px;
}
.service__box {
    box-shadow: 0px 0px 28px rgb(223, 121, 20), 0 -20px 20px 5px #61c4dd9d;
   
}

.service__box {
    border-radius: 10px;
    width: 100%;
    background-color: #e0ddcb;
    padding: 55px;
    transition: .4s ease;
    box-shadow: #100f0f;
}
.service__box:hover {
    transform: translateY(5px);
    background-image: linear-gradient( 
90deg,#84b8bd,rgba(235, 146, 38, 0.919));
}
.service__box:hover .img{
    color: #fff;
}
.service__box:hover p.service__text.p__color{
    color: #fff!important;
}

.img{
    font-size: 54px;
    font-weight: 400;
    margin-bottom: 23px;
    display: inline-flex;
    color: orange;
  
}
p.service__text.p__color {
    margin-bottom: 0;
}
h1.service__text {
    font-size: 19px;
    font-family: Poppins,sans-serif;
    padding: 10px 0px;
}
/* RESPONSIVE */
@media only screen and (max-width: 1024px){
.service__box {
    padding: 32px;
}
}